@import "variables";
@import "mixins";

@import "components";

@include keyframes(enter-sequence) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  outline: none;
  background: #E7E7E7;
}

.click {
  cursor: pointer;
}

.logo {
  height: 5rem;
}

.ui-view {
  width: 80%;
  margin: 10rem auto auto;

  &.ng-enter {
    @include animation(enter-sequence 0.3s);
  }
}
