<div ng-controller="ClientDetailCtrl" class="container">
    <!-- Main info -->
    <div>
        <div class="row">
            <div class="column"><h4>Informações (cliente {{ client.id }})</h4></div>
        </div>
        <div class="row">
            <div class="column">
                <label for="name">Nome</label>
                <input id="name" type="text" ng-change="update(client)" ng-model="client.name"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="cpf">CPF</label>
                <input id="cpf" type="text" ng-change="update(client)" ng-model="client.cpf"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="obs">Observação</label>
                <input id="obs" type="text" ng-change="update(client)" ng-model="client.observation"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div>
        <div class="row">
            <div class="column"><h4>Contato</h4></div>
        </div>
        <div class="row">
            <div class="column">
                <label for="mobile">Telefone Celular</label>
                <input id="mobile" type="text" ng-change="update(client)" ng-model="client.mobile"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="phone">Telefone Fixo</label>
                <input id="phone" type="text" ng-change="update(client)" ng-model="client.phone"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="email">E-mail</label>
                <input id="email" type="text" ng-change="update(client)" ng-model="client.email"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
    </div>

    <!-- Address -->
    <div>
        <div class="row">
            <div class="column"><h4>Endereço</h4></div>
        </div>
        <div class="row">
            <div class="column">
                <label for="place">Logradouro</label>
                <select id="place"
                        ng-options="item.name for item in place_options track by item.id"
                        data-ng-change="update(client)"
                        data-ng-model="client.address.place">
                </select>
            </div>
            <div class="column">
                <label for="placeName">Nome do Logradouro</label>
                <input id="placeName" type="text" ng-change="update(client)" ng-model="client.address.place_name"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="number">Número</label>
                <input id="number" type="number" ng-change="update(client)" ng-model="client.address.number"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="complement">Complemento</label>
                <input id="complement" type="text" ng-change="update(client)" ng-model="client.address.complement"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="neighborhood">Bairro</label>
                <input id="neighborhood" type="text" ng-change="update(client)" ng-model="client.address.neighborhood"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="city">Cidade</label>
                <input id="city" type="text" ng-change="update(client)" ng-model="client.address.city"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="state">Estado</label>
                <input id="state" type="text" ng-change="update(client)" ng-model="client.address.state"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="cep">CEP</label>
                <input id="cep" type="text" ng-change="update(client)" ng-model="client.address.cep"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
    </div>
</div>