<div ng-controller="SupplierDetailCtrl" class="container">
  <!-- Main info -->
  <div>
    <div class="row">
      <div class="column"><h4>Informações (fornecedor {{ supplier.id }})</h4></div>
    </div>
    <div class="row">
      <div class="column">
        <label for="name">Nome</label>
        <input id="name" type="text" ng-model="supplier.trading_name" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
      <div class="column">
        <label for="cnpj">CNPJ</label>
        <input id="cnpj" type="text" ng-model="supplier.cnpj" ng-change="update(supplier)"
               mask="99.999.999/0001-99" ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div>
    <div class="row">
      <div class="column"><h4>Contato</h4></div>
    </div>
    <div class="row">
      <div class="column">
        <label for="mobile">Telefone Celular</label>
        <input id="mobile" type="text" ng-model="supplier.mobile" ng-change="update(supplier)"
               mask="(999) 9 9999-9999" ng-model-options="{ debounce: 700 }"/>
      </div>
      <div class="column">
        <label for="phone">Telefone Fixo</label>
        <input id="phone" type="text" ng-model="supplier.phone" ng-change="update(supplier)"
               mask="(999) 9999-9999" ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="email">E-mail</label>
        <input id="email" type="text" ng-model="supplier.email" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
  </div>

  <!-- Address -->
  <div>
    <div class="row">
      <div class="column"><h4>Endereço</h4></div>
    </div>
    <div class="row">
      <div class="column">
        <label for="place">Logradouro</label>
        <select id="place"
                ng-options="item.name for item in place_options track by item.id"
                data-ng-change="update(supplier)"
                data-ng-model="supplier.address.place">
        </select>
      </div>
      <div class="column">
        <label for="placeName">Nome do Logradouro</label>
        <input id="placeName" type="text" ng-model="supplier.address.place_name" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="number">Número</label>
        <input id="number" type="number" ng-model="supplier.address.number" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
      <div class="column">
        <label for="complement">Complemento</label>
        <input id="complement" type="text" ng-model="supplier.address.complement" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="neighborhood">Bairro</label>
        <input id="neighborhood" type="text" ng-model="supplier.address.neighborhood"
               ng-change="update(supplier)" ng-model-options="{ debounce: 700 }"/>
      </div>
      <div class="column">
        <label for="city">Cidade</label>
        <input id="city" type="text" ng-model="supplier.address.city" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="state">Estado</label>
        <input id="state" type="text" ng-model="supplier.address.state" ng-change="update(supplier)"
               ng-model-options="{ debounce: 700 }"/>
      </div>
      <div class="column">
        <label for="cep">CEP</label>
        <input id="cep" type="text" ng-model="supplier.address.cep" ng-change="update(supplier)"
               mask="99999-999" ng-model-options="{ debounce: 700 }"/>
      </div>
    </div>
  </div>
</div>
