<div ng-controller="ProductDetailCtrl" class="container">
    <!-- Main info -->
    <div>
        <div class="row">
            <div class="column"><h4>Informações de "{{ product.name }}" ({{ product.id }})</h4></div>
        </div>
        <div class="row">
            <div class="column">
                <label for="name">Nome</label>
                <input id="name" type="text" ng-model="product.name" ng-change="update(product)"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="description">Descrição</label>
                <input id="description" type="text" ng-model="product.description" ng-change="update(product)"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="sellValue">Valor de venda (R$)</label>
                <input id="sellValue" type="number" ng-model="product.sell_value" ng-change="update(product)"
                       ng-model-options="{ debounce: 700 }" />
            </div>
            <div class="column">
                <label for="cost">Custo (R$)</label>
                <input id="cost" type="number" ng-model="product.cost" ng-change="update(product)"
                       ng-model-options="{ debounce: 700 }" />
            </div>
        </div>
    </div>
</div>